<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="I_threshold" value="20.0" />
		<add key="V_threshold" value="250.0" />
		<add key="AverageDeviationThreshold" value="0.25" />
		<add key="EventLogURL" value="server_events.log" />
	</appSettings>
	<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="StreamingTcpBinding" 
						 transferMode="Streamed" 
						 maxReceivedMessageSize="2147483647" 
						 sendTimeout="00:10:00" 
						 receiveTimeout="00:10:00" />
			</netTcpBinding>
		</bindings>
		<services>
			<service name="SmartGrid.Server.SessionControl">
				<endpoint
				  address="ServiceSessionControl"
				  binding="netTcpBinding"
				  bindingConfiguration="StreamingTcpBinding"
				  contract="SmartGrid.Common.ISessionControl" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8080/SessionControl" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
