<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="SmartGrid.Server.SessionControl">
				<endpoint
				  address="ServiceSessionControl"
				  binding="netTcpBinding"
				  contract="SmartGrid.Common.ISessionControl" />
			</service>
		</services>
	</system.serviceModel>
</configuration>