<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="StreamingTcpBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="2147483647"
                         sendTimeout="00:10:00"
                         receiveTimeout="00:10:00" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="SessionControlEndpoint"
                      address="net.tcp://localhost:8080/SessionControl/ServiceSessionControl"
                      binding="netTcpBinding"
                      bindingConfiguration="StreamingTcpBinding"
                      contract="SmartGrid.Common.ISessionControl" />
        </client>
    </system.serviceModel>
</configuration>